body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #959090;
    color: #fff;
    display: flex;
    background-color: teal;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid teal;
    position: sticky;
}

.logo {
    font-size: 2rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color:#FFC470;
    
    animation: gradientAnimation 1s ease infinite;
    font-weight: bold;

}

.nav-links {
    list-style: none;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 1.2rem;
}

.nav-links li a:hover {
    color: #ffd700;
    /* Change to your desired hover color */
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1,
.line2,
.line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
    transition: all 0.3s ease;
}

.burger:hover .line1,
.burger:hover .line2,
.burger:hover .line3 {
    background-color: #ffd700;
    /* Change to your desired hover color */
}

.nav-active {
    transform: translateY(0%);
}
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.name-designation {
    text-align: center;
    margin: 10%;
    margin-top: 5%;
    padding: 3%;
    color: whitesmoke;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(45deg, teal, #D2042D);
    animation: moveBackground 20s ease infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.name-designation h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    color: #FFFDD7;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

.name-designation h2 {
    font-size: 2rem;
    color: #FFE4CF;
    opacity: 0;
    animation: fadeInUp2 3s ease forwards infinite;
    /* animation-delay: 6s; */
}

@keyframes fadeInUp1 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes fadeInUp2 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border:2px solid teal;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.button.resume {
    background-color: #5F0F40;
}

.button.github {
    background-color: #5F0F40;
}

.button.linkedin {
    background-color: #5F0F40;
}

.button:hover {
    background-color: #555;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#skills-container {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill {
    margin-bottom: 20px;
    width: 200px;
    text-align: left;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-bar {
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    transition: width 1s ease-in-out;
}

/* Add animation for skills */
.skill-progress.html {
    animation: animateHtml 2s ease-in-out forwards;
}

@keyframes animateHtml {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}
#skills-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.skill {
    text-align: center;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-bar {
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid black;
}

.skill-progress {
    height: 100%;
    width: 0;
    transition: width 1s ease-in-out;
}

/* Skills colors */
.skill-progress.html {
    background-color: #03045e;
}
.skill-progress.python {
    background-color: #023e8a;
}

.skill-progress.html5 {
    background-color: #0077B6;
}

.skill-progress.css3 {
    background-color: #0096c7;
}

.skill-progress.javascript {
    background-color: #00b4d8;
}

.skill-progress.oracle {
    background-color: #003777;
}

.skill-progress.react {
    background-color: #6c85bd;
}

.skill-progress.ml {
    background-color: #003f5d;
}
.skill-progress.mern {
    background-color: #0ba992;
}

.skill-progress.html {
    animation: animateHtml 2s ease-in-out forwards;
}
.skill-progress.python {
    animation: animatePython 2s ease-in-out forwards;
}

.skill-progress.html5 {
    animation: animateHtml5 2s ease-in-out forwards;
}

.skill-progress.css3 {
    animation: animateCss3 2s ease-in-out forwards;
}

.skill-progress.javascript {
    animation: animateJavaScript 2s ease-in-out forwards;
}

.skill-progress.oracle {
    animation: animateOracle 2s ease-in-out forwards;
}

.skill-progress.react {
    animation: animateReact 2s ease-in-out forwards;
}

.skill-progress.ml {
    animation: animateML 2s ease-in-out forwards;
}
.skill-progress.mern {
    animation: animateML 2s ease-in-out forwards;
}

/* Animation keyframes for each skill */
@keyframes animateC {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@keyframes animatePython {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes animateHtml5 {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

@keyframes animateCss3 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@keyframes animateJavaScript {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes animateOracle {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@keyframes animateReact {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

@keyframes animateML {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}
@keyframes animatemern {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}
#projects-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.project {
    border: 2px solid #0d6a89;
    background-color: #e4f2f6;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.project img{
    width:60%;
}
.project-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

.project-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #004b57;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
    background-color: #388e3c;
}
#about-me-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.about-me {
    width: 80%;
    max-width: 800px;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-right: 5%;
}

.about-me-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #147681;
}

.about-me-content {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    color: #044e56;
}
#contact-us {
    background-color:#004b57;
    color: #fff;
    padding: 1% 1%;
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    border-radius: 5%;
}

.contact-info,
.contact-form {
    width: 50%;
    margin: 0 20px;
    color: wheat;
}

.contact-info a{
    color: white;
    margin: 25%;
}
.contact-info h3 {
    color: white;
    margin-left: 20%;
    font-size: 2rem;
}
.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #ddd;
}

.about-me,
.contact-info,
.contact-form {
    width: 90%;
    /* Adjust width for smaller screens */
    margin: 0 auto;
    /* Center align */
}

/* Add additional animations and transitions as desired */
@media screen and (max-width: 768px) {
    .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            background-color: #333;
            padding: 10px 0;
            text-align: center;
            z-index: 1;
        }
    
        .nav-links.nav-active {
            display: flex;
        }
    
        .nav-links li {
            padding: 10px 0;
        }
    
        .nav-links li a {
            color: #fff;
        }
    
        .nav-links li a:hover {
            color: #ffd700;
        }
    
        .burger {
            display: flex;
        }
    
        .name-designation {
        margin: 5%;
        padding: 2%;
    }

    .name-designation h1 {
        font-size: 3rem;
    }

    .name-designation h2 {
        font-size: 1.5rem;
    }
    .skill-bar{
        display: flex;
        flex-wrap: wrap;
    }
     .projects-container {
         grid-template-columns: 1fr;
     }}
     .button.resume {
         background-color: #5F0F40;
         margin: 2%;
     }  
     .button.github {
         background-color: #5F0F40;
        margin: 2%;
     }  
     .button.linkedin {
         background-color: #5F0F40;
        margin: 2%;
     }
@media screen and (max-width: 541px) {
    .skill-bar{
        width: 150%;
    }
}